.cart-page {
  background-color: #e8e8e8;
  font-family: sans-serif;
  height: 100vh;
}

.cart-product-price {
  display: flex;
  flex-direction: column;
}

.cart-products-wrapper {
  display: flex;
  align-items: center;
  width: 280px;
  text-align: center;
  background-color: white;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  margin: 10px;
  height: 150px;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 4px;
  transition: ease-out 0.2s;
  cursor: pointer;
}

.cart-products-wrapper:hover {
  transform: scale(1.03);
}

.cart-products-wrapper img {
  max-width: 50px;
  max-height: 50px;
}

.cart-product-details-buton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cart-buttons {
  display: flex;
  justify-content: space-evenly;
}
.cart-buttons button {
  border-radius: 4px;
  background-color: orange;
  border: orange;
  padding: 10px 24px;
  width: 200px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.buttons-wrapper {
  display: flex;
  margin-top: 10px;
}

.amount-input {
  width: 40px;
}

.buttons-wrapper button {
  background-color: orange;
  border: none;
  color: white;
}

.buttons-wrapper input {
  border: none;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.plus {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.minus {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.delete {
  border-radius: 2px;
  margin-left: 5px;
}