.homepage {
  background-color: #e8e8e8;
  width: 100%;
}

.menu-categories {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 20px;
}

.menu-categories li {
  display: inline;
  margin-left: 10px;
  border-right: 1px solid black;
  padding-right: 10px;
  cursor: pointer;
}
.menu-categories li:last-child  {
  border-right: none;
}

.beer-list {
  font-family: sans-serif;
  display: flex;
  margin-top: 20px;
  max-width: 100%;
  padding: 0 10px;
  justify-content: center;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex-wrap: wrap;
}

h4 {
  display: flex;
  vertical-align: bottom;
}

.feat-content {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.feat-content img {
  width: 23px;
  height: 38px;
}